@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}
*{
  outline: none !important;
}

@font-face {
  font-family: 'GeistVF';
  src: url('/fonts/GeistVF.woff') format('woff');
  font-weight: 100 900; /* supports variable range */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GasoekOne-Regular';
  src: url('/fonts/GasoekOne-Regular.woff') format('woff');
  font-weight: 100 900; /* supports variable range */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'geometric-slabserif-703-bold-condensed-bt';
  src: url('/fonts/geometric-slabserif-703-bold-condensed-bt.woff') format('woff');
  font-weight: 100 900; /* supports variable range */
  font-style: normal;
  font-display: swap;
}

:root {
  --font-geist-sans: 'GeistVF';
  --GasoekOne-Regular: "GasoekOne-Regular";
  --geometric-slabserif-703-bold-condensed-bt:'geometric-slabserif-703-bold-condensed-bt';
}
/* hide number input arrows for Chrome, Safari, Edge */
/* Chrome, Safari, Edge (WebKit-based) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;       /* Standard property */
  -moz-appearance: textfield;  /* Gecko-specific fallback */
}


.GasoekOne-Regular{
    font-family: var(--GasoekOne-Regular), sans-serif;
}
.geometric{
    font-family: var(--geometric-slabserif-703-bold-condensed-bt), sans-serif;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}




body {
  background: var(--background);
  color: var(--foreground);
}
.airdrop-link {
  background: linear-gradient(to right, #70B0FF, #FF01BF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
nav a{
  transition: all .5s ease;
}
nav a:hover{
  opacity: .8;
}
.transition-class{
  transition: all .5s ease-in-out;
}
/* Ultra-thin scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 6px;
  border: 1px solid #111827;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4B5563;
}

 
.screen-minus-5rem {
 
  min-height: calc(100vh - 5rem);

}
@media (width < 400px){

  .hero-text{
  top: -13rem;
  }
  .go-up{
      top: -4rem;

  }
 
  /* .hero-image{
  top: -8rem;
  }  */

  .mobile-padding{
  padding-left: .6rem !important;
  padding-right: .6rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.launch{
  padding-left:1rem;
  padding-right:1rem;
}
}
/* for iPhones maxes */
@media (width > 400px){
  .hero-image{
    top: 0 !important;
  }
}
.mobile-nav a{
  width: fit-content;

}



.card-gradient-wrapper {
  position: relative;
  z-index: 0;
  padding: 2px;
  border-radius: 15px;
}

.card-gradient-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 15px;
  background: linear-gradient(90deg, #B9874E, #F16824, #F16824, #B9874E);
}

.card-gradient-wrapper.card-type-b::before {
  background: linear-gradient(90deg, #A40E0E, #FF7A7A, #A40E0E);
}

.token-gradient-wrapper {
  position: relative;
  z-index: 0;
  padding: 2px;
  border-radius: 15px;
}

.token-gradient-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  z-index: -1;
  background: linear-gradient(90deg, #A40E0E, #FF7A7A, #A40E0E);
}

.tabs-gradient-wrapper{
   position: relative;
   border-color: transparent !important;
   /* background-color: #0D0D0D; */


}
.tabs-gradient-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  z-index: -2;
  background: linear-gradient(90deg, #494952,#A5A5B8);
}
.tabs-gradient-wrapper::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 9999px;
  z-index: -1;
  background-color: #020213;
}

.tab-active::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #520000;
  border-radius: 1px;
}

button{
  cursor: pointer !important;
}
.tab-underline{
  position:relative;

}
.tab-underline::before{
  position: absolute;
  content:"";
  height: 1px;
  width: 100%;
  background-color:#520000;
  bottom: -15px;
  left: 0;
}

.bg-pattern {
  background-image: url('/Group 4.png');
  background-repeat: repeat;
  background-size: 1304px 373px; 
  background-position: center;
}









